<div class="well">
	Code Section with title and darkback ground. 
	<% code = "gem 'highlight', :require => 'simplabs/highlight'"%>
	<%= render 'layouts/code_section', :title => "Gemfile", :code => code %>

	<% code = "$ bundle install
$ rails s"%>
	<%= render 'layouts/code_section', :title => "terminal", :code => code %>

	Highlighted ruby.
	<% code = "class Constant
  def self.continents
    ['Europe', 'Asia', 'Australia', 'North America', 'South America', 'Africa', 'Antarctica']
  end

  def self.gender
    {:female => 'gal', :male => 'guy', :else => '*@#\$'}
  end
end" %>
	<%= render 'layouts/code_section', :title => "/config/initializers/constants.rb", :code => code, :lang => :rb %>
	Highlighted erb.
	<% code = "You are from \<%= select_tag 'continents', options_for_select(Constant.continents) %\>.
Your are \<%= select 'gender', 'person', Constant.gender %\>." %>
	<%= render 'layouts/code_section', :title => "/app/views/miscellaneous/select.html.erb", :code => code, :lang => :erb %>
	
	Highlighted css.
	<% code = "
/* Code section header and blackboard, to mimic RailsCast highlight style */
.oor-code-block {
	margin: 12px 0;
	clear: both;
}

/* Code section body, overwritten highlight.css to mimic RailsCast highlight style */
.oor-code-ray .nc, .oor-code-ray .no, .oor-code-ray .o {
	color: #fff;
}
" %>
	<%= render 'layouts/code_section', :title => "/app/assets/stylesheets/your.css.erb", :code => code, :lang => :css %>
</div>